#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
            //  COL0      COL1      COL2      COL3      COL4      COL5      COL6      COL7      COL8      COL9      COL10     COL11     COL12     COL13     COL14     COL15     COL16     COL17     COL18     COL19     COL20     COL21     // ROW
                          &kp GRAVE &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6                                                                          &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp PLUS  &kp BSPC  // ROW0
                &kp TAB   &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T                         &kp ESC                       &kp ESC             &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT  &kp BSPC  // ROW1
                &kp LCTL  &kp RCTL  &kp A     &kp S     &kp D     &kp F     &kp G                         &kp LALT                      &kp LALT            &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp BSLH            // ROW2
                &kp LSHFT &kp RSHFT &kp Z     &kp X     &kp C     &kp V     &kp B                         &kp LGUI                      &kp LGUI            &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RET             // ROW3
                &kp LSHFT &kp RSHFT                               &kp SPACE &kp SPACE &kp SPACE                                                   &kp SPACE &kp SPACE &kp SPACE                     &kp RET   &kp RET                       // ROW4
                                                                            &kp SPACE &kp SPACE &kp SPACE &mo 1                                   &kp SPACE &kp SPACE &kp SPACE                                                           // ROW5
            >;
        };

        fn_layer {
            display-name = "Function";
            bindings = <
            //  COL0      COL1      COL2      COL3      COL4      COL5      COL6      COL7      COL8      COL9      COL10     COL11     COL12     COL13     COL14     COL15     COL16     COL17     COL18     COL19     COL20     COL21     // ROW
                   &kp C_AL_LOCK    &trans    &trans    &trans    &trans    &trans    &trans                                                                &trans    &trans    &trans    &trans    &trans    &trans    &trans              // ROW0
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                      &kp C_RESET                   &kp C_RESET           &trans    &trans    &trans    &trans    &kp C_PP  &trans    &trans    &trans    // ROW1
                &trans    &trans    &trans    &trans    &trans   &kp C_NEXT &trans                        &trans                        &trans              &kp UP    &kp LEFT  &kp DOWN  &kp RIGHT &trans    &trans    &trans              // ROW2
                &trans    &trans    &trans    &trans    &trans    &trans   &kp C_PREV                     &trans                        &trans             &kp C_PREV &trans    &trans    &trans    &trans    &trans    &trans              // ROW3
                &trans    &trans                                  &trans    &trans    &trans                                                      &trans    &trans    &trans                                  &trans    &trans              // ROW4
                                                                            &trans    &trans    &trans    &trans                                  &trans    &trans    &trans                                                                // ROW5
            >;
        };
    };
};
